<div class="all">

<div class="new-team">
  Brand New Team
</div>

<form ng-submit="newCtrl.createTeam()">
  <div class="holder">
    <div class="teamname-bar">
      <div class="teamname">
        Team Name
      </div>
      <input type="text" placeholder="The Avengers" ng-model="newCtrl.name">
    </div>
  </div>

  <div class="my-name">
    <div class="yourname">
      Your Name
    </div>
    <input type="text" placeholder="Your Name" ng-model="newCtrl.creator">
  </div>

  <div class="first-button">
    <input type="submit" value="Create Team">
  </div>
  <br>

</form>
</div>
