<div class="all">
<body>

  <div class="user-teams">
    <h4>
      Teams!
      <span>User created teams of Marvel superheroes!</span>
      <a ui-sref="new_team">New Team</a>
    </h4>

  </div>
  <div class="link-button">

    <div class="user-names">
      <ul>
        <li ng-repeat="team in teamsCtrl.teams">
          <a ui-sref="view_team({id: team.id})">
            {{ team.name }}
            by
            {{ team.creator }}</a>
        </li>
      </ul>
    </div>
  </div>
</body>
</div>
