<div class="all">
  <div class="last-page">
    <div class="my-squad">
      {{ teamCtrl.team.name }}
    </div>
    <a ui-sref="edit_team({id: teamCtrl.team.id})">Is This Your Team? Edit It!</a>
  </div>

  <table>
    <tbody>
      <tr ng-repeat="character in teamCtrl.heroes">
        <td>
          <img ng-src="{{ character.image }}">
        </td>

        <td class="hero-info">
          <h2 class="hero-name">{{ character.name }}</h2>
          <p class="description">{{character.description}}</p>
        </td>
      </tr>
    </tbody>
  </table>
</div>
